@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #535fe6;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

img {
    width: 15.5vmin;
    height: 15.5vmin;
    border-radius: 50%;
    border: 8px solid black;
}

label {
    padding-left:25px !important;
    padding-top: 14px !important;
}

.container {
    height: 100vh
}



.notify-text {
    font-size: 14px
}

.buttons {
    font-size: 12px;
    height: 32px
}

.form-check-label {
    font-size: 14px
}

/* .accounts {
    font-size: 14px
} */

.outline {
    border-radius: 5px;
    background: #f4fcf8;
    margin-top: 10px
}

.image-size {
    font-size: 12px;
    color: #9c9c9c;
}

.form-control{
    height:50px !important;
}



.form-control {
    /* border:1px solid blue; */
    width:100%;
}
.inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}
.main_area {
    height:63vh;
}

.inputbox span {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 13px;
    transition: 0.5s
}

.inputbox i {
    position: absolute;
    top: 13px;
    right: 8px;
    transition: 0.5s;
    color: #3F51B5
}


.inputbox input:focus~span {
    transform: translateX(-4px) translateY(-13px);
    font-size: 10px
}

.inputbox input:valid~span {
    transform: translateX(-4px) translateY(-13px);
    font-size: 10px
}

#save {
    width: 50%;
}