body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
p {
    white-space: pre-wrap;
    color: white;
    font-size: 23px;
    font-weight: 300;
    padding: 10px;
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: #007bff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.card-body {
  z-index: 1;
}


.container-md {
  width: 50vw !important;
}

@media only screen and (max-width: 1000px) {
  .container-md {
      width: 90vw  !important;
      /* padding:0px 5vw; */
  }  
}

.icon{
  color: black !important;
  height: 40px;
}

.full {
  width: 100% !important;
}

.btn-google {
  color: white !important;
  background-color: #ea4335 !important;
}

.btn-md{
  margin:auto;
  padding:auto;
  width:80%;
  /* height:65px; */
}

#btn1 {
  width: 50%;
  height: 70px;
  /* border: 1px solid red; */
}
  
#title{
  font-size:40px;
  color: white;
}

.intro {
  font-size: 20px;
  font-weight: lighter !important;
}

.mb-5-login{
  margin-bottom: 100px;
}

