.glass-card {
    width: 260px;
    height: 150px;
    background-color: rgb(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 16px;
    backdrop-filter: blur(30px);
    border: 2px solid transparent;
    background-clip: padding-box;
    line-height: 1.5;
}